body {
	background: radial-gradient(red, black);
}
h1 {
	font-family: 'Cinzel', serif;
	text-align: center;
	color: white;
}
.grid {
	display: inline-block;
	text-align: center;
}
.grid img {
	width: 250px;
	height: 175px;
	margin: 20px;
	border-radius: 30px;
}
